#disc-container {
  .disc {
    z-index: 100;
    width: 50px;
    height: 50px;
  }
}

#board-container {
  .droppable-area {
    background-color: yellow !important;
  }

  table#game-board {
    width: 400px;
    height: 400px;

    td {
      border-style: solid;
      text-align: center;

      &.droppable {
        height: 30px;
        border-style: none;
        background-color: #D3D3D3;
      }

      &.player-1-color {
        background-color: blue;
      }

      &.player-2-color {
        background-color: red;
      }
    }
  }
}